{
  "active": "{{ nexus_secret_key_id }}",
  "keys": [
    {
      "id": "{{ nexus_secret_key_id }}",
      "key": "{{ nexus_secret_key_value }}"
    }
  ],
  "fixedEncryption": {
    "keyId": "{{ nexus_secret_key_id }}",
    "salt": "{{ nexus_secret_fixed_salt }}",
    "iv": "{{ nexus_secret_fixed_iv }}"
  }
}
